.cabecera {

border: 1px solid blue;
height: 200px;
width: 100%;
}

.logo {
  border: 1px solid blue;
  float: left;
  width: 20%;
}

.menu {
  border: 1px solid blue;
  float: left;
  width: 60%;
}

.menu1 {
  border: 1px solid blue;
  float: left;
  width: 15%;
}

.menu2 {
  border: 1px solid blue;
  float: left;
  width: 15%;
}

.menu3 {
  border: 1px solid blue;
  float: left;
  width: 15%;
}

.menu4 {
  border: 1px solid blue;
  float: left;
  width: 15%;
}

.usuario {
  border: 1px solid blue;
  float: left;
  width: 18%;
}

.info {
  border: 1px solid red;
  height: 500px;
  width: 100%;
}

.titulo1 {
  border: 1px solid blue;
  float: left;
  width: 25%;
  height: 500px;
}

.tarea {
  border: 1px solid blue;
  height: 75px;
width: 100%;

  
}

.titulo2 {
  border: 1px solid blue;
   float: left;
  width: 25%;
  height: 500px;
}


.titulo3 {
border: 1px solid blue;
 float: left;
  width: 25%;
  height: 500px;

}


.activador {
 border: 1px solid blue;
 height: 500px;
}

.completada {
 border: 1px solid blue;
 height: 75px;
}

.recientes {
 border: 1px solid blue;
 height: 75px;
}
